@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Spartan", sans-serif;
}

:root{
  --primary-color: #e3e6f3;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --star-gold-color: #ffce3e;
  --highlight-color: #088178;
  --navbar-height: 40px;
  --header-height: 120px;
  --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}


html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
  line-height: 6.4rem;
  color: #222;
}

h2 {
  font-size: 4.6rem;
  line-height: 5.4rem;
  color: #222;
}

h4 {
  font-size: 2rem;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 1.4rem;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ease;
}

button.write{
  font-size: 1.2rem;
  font-weight: 600;
  padding: 12px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s ease;
}

body {
  width: 100%;
}

