@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    box-sizing: inherit;
    font-family: "Spartan", sans-serif;
}

:root{
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --star-gold-color: #ffce3e;
  --navbar-height: 40px;
  --header-height: 120px;
  --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}


html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
}



