/* Header */
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header-navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-navbar li{
  padding: 0 20px;
  list-style: none;
  display: flex;
  align-items: center;
}

#header-navbar li a{
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
  transition: 0.3s ease;
  position: relative;
}

#header-navbar li a:hover,
#header-navbar li a.active
{
  color: #088178;
}

#header-navbar li a.active::after,
#header-navbar li a:hover::after
{
  content: "";
  width: 50%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 0px;
}

/* Hero section */

#hero{
  background-image: url("/assest/img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

#hero h4{
  padding-bottom: 15px;
}

#hero h1{
  margin: 0;
  color: #088178;
}

#hero button{
  background-image: url("/assest/img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 15px 100px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
}